body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin-inline: auto;
    padding: 0 10px;
    font-size: min(16px, 4vw);
}

a:link {
    color: lightblue;
}

a:visited {
    color: pink;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

header {
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0 10px;
}

footer {
    margin-top: 150px;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 10px;
    gap: 20px;
    /* row-gap: 20px; */
}

aside a {
    padding: 0 10px;
}

.posts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 10px;
    gap: 20px;
}

.post-card {
    border: 1px;
    width: 200px;
    height: 310px;
}

#post-list .post-card {
    cursor: pointer;
}

.post-card p {
    overflow: hidden;
}

.post-image-wrapper {
    width: 128px;
    height: 128px;
}

button {
    width: 7em;
    height: 3em;
}

.hide {
    display: none;
}

#return-to-post-list-button {
    margin-bottom: 2em;
}

/* #post-list {
    overflow-y: scroll;
    height: fit-content;
    margin-bottom: 100vh;
}

#post-details {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
} */